*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedorCategoria{
    width: 100%;
    background-color: aquamarine;
    padding: 10px;
    display: flex;
}
.Categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.circulo{
    background-color: antiquewhite;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    position: relative;
    border-radius: 50%;
}
.circulo > i{
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
    box-sizing: 10px;
}